.cardSobreMim {

    display: flex;
    height: 100%;
    width: 100%;
    background: var(--corEscuroGradiente01);
    background-size: 100% 300%;
    animation: mover-gradient 5s infinite linear;
    padding: 20px;
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px 0px 10px 10px;
    letter-spacing: 1px;
    margin: 0px 0px 0px 0px;
    
   
}

.DecoracaoFlor {

    width: 120px;
    animation: rotate 25s linear infinite;
    
}

.titulos {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75%;

    
}

.titulo__engenheiro {

    font-family: var(--fonte02);
    font-size: 55px;
    text-transform: uppercase;
    font-weight: bold;
  
}

.subtitulo__engenheiro {

    font-family: var(--fonte02);
    font-size: 45px;
    text-transform: uppercase;
    margin: -15px 0px 0px 0px;
}

.continerTextoAnimado {

    display: flex;
    align-items: center;
    gap: 5px;

}
  
.frase__auxiliar {
  
    font-family: var(--fonte02);
    font-size: 30px;
    height: 40px;
    text-transform: uppercase;
    margin: -10px 0px 0px 0px;
  
}

.subtitulo {

    font-family: var(--fonte05);
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px 0px 0px 0px;
  
}


 