.button {
  
    position: relative;
    border: none;
    background: transparent;
    --stroke-color: black;
    --ani-color: rgba(95, 3, 244, 0);
    --color-gar: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    letter-spacing: 3px;
    font-size: calc(0.9vw + 0.9vh);
    font-family: var(--fonte03);
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--stroke-color);
    cursor: pointer;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex; 
    margin: 15px 0px 0px 0px;

  }
  
  .front-text {
   
    top: 0;
    left: 0;
    width: 0%;
    background: var(--color-gar);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    overflow: hidden;
    transition: all 1s;
    animation: 8s ani infinite;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    width: 100%;
    -webkit-text-stroke: 1px var(--ani-color);
    
  }

  .actual-text {

    border-bottom: 2px solid

  }
  
  mark {

    font-family: var(--fonte02);
    font-weight: bold;
    color: black;
    --stroke-color: black;
    --ani-color: rgba(95, 3, 244, 0);
    --color-gar: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    color: transparent;
    
}
  
