.cardBlog {
    
    height: 100%;
    width: 100%;
    background: var(--corEscuroGradiente01);
    background-size: 100% 300%;
    animation: mover-gradient 5s infinite linear;
    padding: 20px;
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    letter-spacing: 1px;
    position: relative;

}

.cardBlog__Apresentacao {

    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.cardBlog__texto {

    font-size: 18px;
    font-family: var(--fonte04);

}

.continer__CardTecnologias__texto {

    margin: 20px 0px 0px 0px;

}


.iconeDecoracao {

    width: 34px;
    animation: rotate 25s linear infinite;

}

.cardBlog__Titulo {

    font-family: var(--fontePrincipal);
    font-size: 40px;
    margin: 0px 0px 0px 0px;
    display: flex;
    align-items: end;
    height: 70%;
    position: absolute;
    top: 25%;
}
