.cardMeusProjetos02 {

    display: flex;
    height: 100%;
    width: 100%+20px;
    background: #020202;
    background-size: 100% 300%;
    animation: mover-gradient 5s infinite linear;
    padding: 20px;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(0, 0, 0, 0.5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0px 10px 10px 0px;
    letter-spacing: 1px;
    margin: 0px 0px 0px -20px;
    
}
