@import url('./variables.css');
@import url('./animacoes.css');

.continerConteudo {

    background: var(--corClaro03);
    
}
  
.App {
  
    display: flex;
    font-family: var(--fonte01);
  
}

.esconder {

    display: none;

}

.homeCards {

    display: flex;
    flex-wrap: wrap;
   
}

.continerHome03__divisao {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0px 0px 20px 0px;

}

.teste {

    display: flex;
    flex-wrap: wrap;
   
}

