.barra-lateral {

  background: var(--corEscuroGradiente02); 
  background-size: 100% 300%;
  height: calc(100vh - 80px);
  width: 100px;
  padding: 20px 0px; 
  border: 3px solid transparent;
  animation: 
  mover-gradient 10s infinite linear;
  margin: 40px;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 10px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  letter-spacing: 1px;
    
}

.barra-lateral div {

  text-align: center;

}

.logotipo {

  width: 4vh;
  transform: scaleX(-1);

}

.barra-lateral li:first-child {
   
  margin: 50px 0px 0px 0px;
    
}

.lista {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5vh;
  width: 100px;
  position: relative;
  right: 2.4px;
  
}

.lista:hover .ham6 .line {
   
  stroke:black;
  
}

.lista:hover .continerIcone .container {
   
  fill: black;
  
}

.listaAfastar {

  margin: 5.5vh 0px 0px 0px;
  
}

.lista:hover {

  background: var(--corClaro03);
  
}

.lista:hover .navegacaoLink {

  filter: invert(1);
  
}

.continerIcone {

  width: 70px;
  height: 70px;

}

.icone {

  width: 2.7vh;
  cursor: pointer;
  margin: 10px 0px 10px 0px;

}

.primeiro {

  margin: 500px;

}

.expandir:hover {

  display: inline-block;  
  transition: box-shadow 0.3s ease;
  animation: pulsar 9.9s infinite ease-in-out; 
   
}

.navegacaoLink:hover {
  
  transform: scale(1.1);

}

.navegacaoLink:active {

  animation: pulsar 1s;

}

.listaAtiva {

  background: var(--corClaro03);
  

}

.linkativo {

  display: inline-block;  
  transition: box-shadow 0.3s ease; 
  filter: invert(1);

}

.nomeDaPagina {

  transform: rotate(270deg);
  color: white; 
  font-size: 2vh;
  margin: 4.5vh 0px 0px 0px ;
  letter-spacing: 7px;
  font-family: var(--fonte01);
    
}

